
# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/

# Secrets and sensitive directories
*.pem
*.key
admin-key.json
.env
create-admin-sa/

# IDE
.idea/
.vscode/

# OS specific
.DS_Store
command.txt

